#form-submit-button button{
    background-color: #0069d9;
    border-color: #0069d9;
}
#form-cancel-button{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0px;
}
#form-cancel-button button{
    background-color: rgb(233, 233, 233);
    border-color:rgb(233, 233, 233);
    color: black;
}
#form-cancel-button button:focus{
outline: 0;
box-shadow: 0;
}
#form{
    position: relative;
    margin: 0;
    font-size: 15px;
}
#role-form-outer-div{
    width: 80%;
    margin:30px auto;
}
#role-form-title {
  margin: 20px;
}
@media (max-width: 576px) {
    #form-cancel-button-inner{
        padding: 0px;
    }
}
@media (max-width: 1000px) {
    #role-form-title{
        font-size: 22px;
    }
}






#add-button {
    float: right;
    background-color: #0069d9;
    border: 0;
    margin: 10px;
    color: white;
    -webkit-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.75);
  }
  #add-button:hover {
    -webkit-box-shadow: 0px 0px 9px -1px rgba(0, 0, 1);
    -moz-box-shadow: 0px 0px 9px -1px rgba(0, 0, 1);
    box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 1);
  }
  #plus-icon {
     margin-right: 10px; 
  }
  #role-title {
    display: inline-block;
    margin: 10px;
    font-size: 28px;
  }
  #role-table {
    font-size: 15px;
    width: 98%;
    margin: 5px auto;
    text-align: left;
    border-collapse: collapse;
  }
  #table-div svg{
    cursor: pointer;
  }
  #role-table tr {
    border-bottom: 1px solid rgb(187, 187, 187);
    height: 40px;
  }
  #role-table thead {
    border-bottom: 1px solid rgb(187, 187, 187);
    background-color:rgb(238, 238, 240);
  }
  #role-table th {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #loading-bar {
    width: 100%;
  }
  #inner-table-div{
    overflow-x: auto;
  }
  #table-div{
    width: 98%;
    height:550px;
    margin: auto;
    font-size: 14px !important;
  }
  .ag-header{
    font-size: 14px !important;
    height: 40px !important;
  }
  
  #clear-both{
    clear: both;
  }
  
  @media (max-width: 1000px) {
    #role-title {
      font-size: 20px;
      margin: 10px;
      margin-top: 20px;
    }
    #inner-table-div{
      overflow-x: auto;
      width: 95%;
      margin: auto;
    }
    #role-table th {
      font-size: 15px;
    }
    #add-button{
      margin: 10px;
      margin-top: 20px;
    }
  }
  